
<div class="row">

  <div class="col-md-4">

    <%= image_tag @book.b_image.url(:book_show), class: "book-show" %>

  </div>

    <div class="col-md-8">
      <div class="b-details">
        <h2 id ="tosearch" class="b-title"><%= @book.title %></h2>
        <h3 class="b-author"><span>by: </span><%= @book.author %></h3>

        <div class="average-review-rating" data-score=<%= @average_review %>></div>
        <span class="num-reviews">(<%= @book.reviews.count %> reviews)</span>
        <h4>Genre: <%= @book.genre.name%></h4>
        <p class="b-description"><%= @book.description %></p>
      </div>
    </div>

  </div>



  <div class="row">

    <div class="col-md-4">

      <div class="links btn-group">



      	<% if user_signed_in? %>

      		<% if @book.user_id == current_user.id %>

      			<%= link_to "Edit", edit_book_path(@book), class: "btn btn-custom" %>
      			<%= link_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom" %>

      		<% end %>

      	<% end %>

      </div>

      <div class="book-reviews">

          <h1>Reviews</h1>
            <%= render @book.reviews %>

        <div>

          <%= link_to "Review this Book", new_book_review_path(@book), class: "btn btn-custom"  %>

        </div>
      </div>


  </div>

    <div class="col-md-4">

        <div id="searchresults" class="b-details">
          <h2>Search Google Books for more like this</h2>

          <button onclick="googlesearch()" type="button" name="button" class= "btn btn-custom">Search GoogleBooks</button>

        </div>
    </div>

    <div class="col-md-4">

        <div id="moviesearch" class="b-details">
          <h2>Related Movies</h2>

          <button onclick="moviesearch()" type="button" name="button" class= "btn btn-custom">Search Movie</button>

        </div>
    </div>


<script>
          function moviesearch(){


              var search = document.getElementById("tosearch").innerHTML;

              var overview = '';
              var img = '';
              var title = '';
              var releasedate = '';
              var prefix = "http://image.tmdb.org/t/p/w500";

              $.getJSON("https://api.themoviedb.org/3/search/movie?api_key=f8f93e6707da5b8b61cee34f8e336790&query=" + search,
                  function(json) {

                    title = $('<h4>' + json.results[0].original_title + '</h4>')
                    title.appendTo("#moviesearch");

                    img = $('<img width="300" height="400" src=' + "http://image.tmdb.org/t/p/w500" + json.results[0].poster_path + ' />');
                    img.appendTo("#moviesearch");

                    releasedate = $('<h4>' + json.results[0].release_date + '</h4>')
                    releasedate.appendTo("#moviesearch");

                    overview = $('<h4>' + json.results[0].overview + '</h4>')
                    overview.appendTo("#moviesearch");


              });


          return false;

        }

</script>


<script>
      function googlesearch(){


          var search = document.getElementById("tosearch").innerHTML;

          var url = '';
          var img = '';
          var title = '';
          var author = '';

          $.get("https://www.googleapis.com/books/v1/volumes?q=" + search,function(response){
              for (var i = 0; i < response.items.length; i++) {
                  title = $('<h4>' + response.items[i].volumeInfo.title + '</h4>');
                  author = $('<h4>' + response.items[i].volumeInfo.authors + '</h4>');
                  img = $('<img><br><a href =' + response.items[i].volumeInfo.infoLink + '><button>More info</button></a>');
                  url = response.items[i].volumeInfo.imageLinks.thumbnail;
                  img.attr('src', url);

                  title.appendTo("#searchresults");
                  author.appendTo("#searchresults");
                  img.appendTo("#searchresults");
              }
          });


      return false;

    }

</script>


<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
